body{
    text-align: center;
    background-color: #F4F1EC;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

/*CSS para la seccion del juego*/
#gamecontainer{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 600px;
    padding: 10px 50px 0 10px;
}
#title{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 0px;
}
#cardscontainer{
    position: relative;
    display: grid;
    justify-content: space-between;
    /*grid-template-columns: repeat(3, 1fr);*/
    margin: 5px;
    gap: 10px;  
}
.card {
    position: relative; 
    width: 100px;
    height: 120px;
}
.cardfront, .cardback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 120px;
    border-radius: 5px;
}
.cardfront{
    z-index: 2;
}
.cardback{
    z-index: 3;
}
/*CSS para la visualizacion de datos del usuario*/
#avatar-game{
    width: 80px;
    height: 80px;
    display: block;
    align-self: center;
    border-radius: 5px;
    border: 1px solid red;
}
#gamedata form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    padding-top: 50px;
}
#gamedata form label{
    display: block;
    padding: 10px 0;
}
input[type="text"]{
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
#game-points{
    background-color: #9CA3AF;
    color: #BB2528;
    font-weight: bold;
    font-size: 16px;
}