/*CSS de Pagina principal y formulario*/
body{
    background-color: #F4F1EC;
}
main{
    text-align: center;
    margin: 15px auto 15px auto;
}
form{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form label{
    display: block;
}
input, select{
    border-radius: 5px; 
    border: 1px solid black;
    padding: 5px 20px;
    text-align: center;
}
input[type="submit"]{
    background-color: #EA5455;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 30px;
}
input[type="submit"]:hover{
    background-color: #E63F33;
}
#error{
    padding-top: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}
#avatar-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#main-avatar{
    border: 3px solid red;
    border-style: dotted;
    border-radius: 5px;
}
#main-avatar img{
    width: 150px;
    height: 150px;
    padding: 5px;
}
#avatars{
    margin: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#avatars img{
    width: 80px;
    height: 80px;
}
#logo{
    border-radius: 200px;
    border: 2px solid black;
}
